$icon-font-path: "/bower_components/sass-bootstrap/fonts/";
$section-background: "#FFFFFF";

@mixin transition($duration) {
  -webkit-transition: $duration;
  -moz-transition: $duration;
  -ms-transition: $duration;
  -o-transition: $duration;
  transition: $duration;
}

*{
  padding: 0px;
  margin: 0px;
  @include transition(.2s);
}

body {
    background: url('../images/background-full.jpg');
    background-color: #432F12;
    background-repeat: no-repeat;
    background-position: 50% top;
    font-family: "Myriad Pro", "Sans Serif", "Arial";
}

img{
  max-width: 100%;
}

div.logo{
  left: 5px;
  position: absolute;
  top: 0px;
  z-index: 1000;
  width: 150px;
}

div.container{
  margin: 0 auto;
  overflow: auto;
  margin-left: 2.352941176471%; /*10px;*/
  margin-right: 2.352941176471%; /*10px;*/
  padding-top: 0px;
  position: relative;
  top: 10px;
  max-width: 1180px;
  min-width: 240px;
  z-index: 100;
  width: 95.294117647058%;
  height: 1000px;
}

section.sliders{
  background-color: #FFFFFF;
  height: auto;
  position: relative;
  top: 220px;
  width: 95.061728395062%;
  padding: 2.469135802469%;
  z-index: 101;
}

section.slider-container{
  background-position: center bottom;
  background-repeat: no-repeat;
  height: 165px;
}

section.slider-container header{
  font-family: 'Pacifico', cursive;
  text-align: center;
  color: #3181db;
  font-size: 20px;
}

section.selected-offer{
  background-color: #FFFFFF;
  height: 159px;
  position: absolute;
  top: 55px;
  width: 95.061728395062%;
  padding: 2.469135802469%;
  z-index: 102;
}

section.selected-offer div.image-container{
  max-width: 280px;
  width: 50%;
  float: left;
}

section.selected-offer div.description{
  float: left;
  max-width: 305px;
  padding-left: 1%;
  width: 49%;
}
section.selected-offer div.description *{
  text-align: center;
  padding-top: 20px;
}
section.selected-offer div.description p{
  color: #6d6d6d;
  font-size: 12px;
  width: 80%;
  margin: 0 auto;
  padding-top: 5px;
}

div.price{
  background-image: url("../images/pallura.png");
  color: #FFFFFF;
  font-size: 18px;
  height: 43px;
  line-height: 12px;
  padding-top: 24px;
  position: absolute;
  text-align: center;
  width: 66px;
}

section.selected-offer div.price{
  right: 15px;
  top: -29px;
}

div.price span.price-postfix{
  font-size: 12px;
}

section.selected-offer h1{
  font-family: 'Pacifico', cursive;
  color: #e0b077;
  font-size: 30px;
}

section.offers-container{
  padding: 0;
  position: relative;
  top: 230px;
  z-index: 103;
  width: 100%;
  background-color: #ffffff;
  text-align: center;
  /*padding: 2.469135802469%;*/
}

section.offers-container div.price{
  right: 5px;
  top: -19px;
  display: none;
}

ul.offers{
  list-style-type: none;
  max-width: 475px;
  display: inline-block;
}

li.offer-item{
  background-color: #ffffff;
  display: inline-block;
  position: relative;
  margin: 1%;
  padding: 1%;
  position: relative;
  width: 20%;
  max-width: 100px;
}

li.offer-item h2{
  color: #e0b077;
  font-size: 12px;
  text-align: center;
}

/* Slider styles */

div.slider-wrap{
  margin: 0 auto;
  max-width: 433px;
  width: 85%;
}

.noUi-target{
  background-color: rgba(0, 0, 0, 0);
  background-image: url("../images/slider-track.png");
  background-position: center bottom;
  background-repeat: no-repeat;
  border: 0 none;
  box-shadow: none;
  margin: 0 auto;
  margin-top: 0px;
  width: 100%;
  max-width: 422px;
  height: 57px;
  padding-left: 4px;
  padding-right: 4px;
  cursor: pointer;
  position: relative;
}

.noUi-target:after,
.noUi-target:before{
  background-color: #F3DEA5;
  bottom: 0;
  content: "";
  height: 21px;
  position: absolute;
  right: 0;
  width: 9px;
}

.noUi-target:before{
  left: 0;
}


.noUi-handle{
  background-image: url('../images/slider.png');
  background-repeat: no-repeat;
  background-position: center bottom;
  border: 0px;
  box-shadow: none;
  height: 40px !important;
  width: 38px !important;
  left: -19px !important;
  cursor: pointer;
  @include transition(.2s);
}

.noUi-handle:hover{
  background-image: url('../images/slider-over.png');
}

.noUi-handle:before, .noUi-handle:after{
  background: none;
}

section.sliders span.left, span.right{
  color: #6d6d6d;
  font-size: 14px;
}

section.sliders span.left{
  float: left;
  margin-top: 5px;
}

section.sliders span.right{
  float: right;
  margin-top: 5px;
}

/* Animates */
.offer-item.ng-enter{
  -webkit-transition: all 600ms cubic-bezier(0.645, 0.045, 0.355, 1.000);
  -moz-transition: all 600ms cubic-bezier(0.645, 0.045, 0.355, 1.000);
  -o-transition: all 600ms cubic-bezier(0.645, 0.045, 0.355, 1.000);
  transition: all 600ms cubic-bezier(0.645, 0.045, 0.355, 1.000);
}

.offer-item.ng-enter{
  opacity: 0;
}

.offer-item.ng-leave.offer-item.ng-leave-active{
  opacity: 0;
  width: 0px !important;
  display: none;
}

.offer-item.ng-enter.offer-item.ng-enter-active{
  opacity: 1;
  width: 20%;
}

.offer-item.ng-leave {
  opacity: 0;
  width: 0px;
  display: none;
}

/* Selected item */
.selected-offer.ng-enter,
.selected-offer.ng-leave {
  -webkit-transition: all 500ms cubic-bezier(0.645, 0.045, 0.355, 1.000);
  -moz-transition: all 500ms cubic-bezier(0.645, 0.045, 0.355, 1.000);
  -o-transition: all 500ms cubic-bezier(0.645, 0.045, 0.355, 1.000);
  transition: all 500ms cubic-bezier(0.645, 0.045, 0.355, 1.000);
}

.selected-offer.ng-enter {
  top: 200px;
  opacity: 0;
}

.selected-offer.ng-leave.selected-offer.ng-leave-active{
  top: -200px;
  opacity: 0;
}

.selected-offer.ng-enter.selected-offer.ng-enter-active{
  top: 55px;
  opacity: 1;
}

.selected-offer.ng-leave {
  opacity: 1;
}


/* Responsive */
@media screen and (min-width: 1024px) {
  div.logo{
    left: 5px;
    position: absolute;
    top: 48px;
    z-index: 1000;
    width: auto;
  }

  div.container{
    margin: 0 auto;
    overflow: auto;
    margin-left: 2.966101694915%; /*35px;*/
    margin-right: 1.694915254237%; /*20px;*/
    margin-top: 0px;
    position: relative;
    top: 0px;
    max-width: 1240px;
    min-width: 240px;
    z-index: 100;
    height: 1200px;
    width: 95.338983050848%;
  }
  section.selected-offer{
    width: 38%;
    padding: 12px;
    height: 159px;
    background-color: #ffffff;
    position: absolute;
    left: 590px;
    top: 140px;
    z-index: 102;
  }

  section.sliders{
    background-color: #ffffff;
    height: 460px;
    left: 35px;
    padding-left: 22px;
    padding-right: 22px;
    padding-top: 70px;
    position: absolute;
    top: 140px;
    max-width: 496px;
    width: 99%;
    z-index: 101;
  }

  section.slider-container{
    background-image: url('../images/slider-bg.png');
    background-repeat: no-repeat;
    background-position: bottom;
    height: 215px;
    width: 100%;
  }

  .noUi-target{
    background-color: rgba(0, 0, 0, 0);
    background-image: url("../images/slider-track.png");
    background-position: center bottom;
    background-repeat: no-repeat;
    border: 0 none;
    box-shadow: none;
    margin: 0 auto;
    margin-top: 20px;
    height: 65px;
    padding-left: 4px;
    padding-right: 4px;
    cursor: pointer;
    width: 422px;
  }

  div.slider-wrap {
    width: 422px;
  }

  section.slider-container header {
    font-size: 24px;
  }

  section.offers-container div.price {
    display: block;
  }

  section.offers-container{
    background-color: rgba(0, 0, 0, 0);
    left: 582px;
    padding: 0;
    position: absolute;
    top: 343px;
    width: 41.7%;
    z-index: 103;
  }



  li.offer-item {
    background-color: #FFFFFF;
    display: block;
    float: left;
    margin: 2%;
    max-width: none;
    padding: 2%;
    position: relative;
    width: 41.6%;
  }

  .offer-item.ng-enter.offer-item.ng-enter-active{
    opacity: 1;
    width: 41.6%;
  }



  li.offer-item h2{
    font-family: 'Pacifico', cursive;
    color: #e0b077;
    font-size: 22px;
    text-align: center;
  }

  ul.offers {
    max-width: none;
  }

  .selected-offer.ng-enter.selected-offer.ng-enter-active{
    top: 140px;
    opacity: 1;
  }

}

@media screen and (min-width: 1280px){

  section.selected-offer{
    width: 599px;
    padding: 12px;
    height: 159px;
    background-color: #ffffff;
    position: absolute;
    top: 140px;
    z-index: 102;
  }

  li.offer-item{
    height: 111px;
    width: 118px;
    margin: 10px;
    float: left;
    background-color: #ffffff;
    display: block;
    padding-top: 14px;
    padding-bottom: 11px;
    padding-left: 11px;
    padding-right: 11px;
    position: relative;
  }

  .offer-item.ng-enter.offer-item.ng-enter-active{
    opacity: 1;
    width: 118px;
  }

  section.offers-container {
    background-color: rgba(0, 0, 0, 0);
    left: 580px;
    padding: 0;
    position: absolute;
    top: 343px;
    width: 645px;
    z-index: 103;
  }
}
